* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(250, 251, 245);
  background: radial-gradient(at 50% 0%, #e5eb40, 10%, transparent 50%),
    linear-gradient(#93fafa, 30%, #71ec90);
}

h1 {
  font-size: xx-large;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: #1a0f98;
  margin-top: 30px;
}

.Homework01 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.h2_hello {
  color: rgb(118, 53, 208);
  padding-bottom: 5px;
  padding-top: 5px;
  border: 5px solid rgb(194, 127, 194);
  border-radius: 20px;
  box-shadow: 0em 2em 10em 0em #ccb6d9;
  background-color: #9bbfdf;
}

p {
  text-align: center;
  border: 5px;
  margin: 5px;
  color: #9c33d9;
}

img {
  display: center;
  justify-content: center;
  width: 300px;
  height: 300px;
  padding: 10px;
  background: rgb(157, 136, 185);
}
