/* Общие стили для компонента */
.homework-container {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #8b58c6;
    border-radius: 20px;
    max-width: 600px;
    margin: 30px auto;
    box-shadow: 0 4px 8px rgba(151, 96, 96, 0.1);
  }
  
  .homework-container h1 {
    text-align: center;
    color: #120505;
    margin-bottom: 20px;
  }

/* Стиль для карточки кота */
.cat-card {
    background-color: #fafbf4;
    padding: 15px;
    margin: 30px;
    border-radius: 8px;
    border: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .cat-card img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
    margin-bottom: 15px;
    border: 2px solid #ddd;
  }
  
  .cat-card p {
    margin: 5px 0;
    font-size: 16px;
    color: #555;
  }
  
  .cat-card p span {
    font-weight: bold;
    color: #333;
  }
  
  /* Стили для ошибки */
  .error-message {
    text-align: center;
    color: #ff6b6b;
    font-weight: bold;
    padding: 10px;
    background-color: #ffe5e5;
    border-radius: 5px;
    border: 1px solid #ff6b6b;
  }