/* Общие стили для компонента */
.homework-container {
    font-family: Arial, sans-serif;
    padding: 10px 20px 30px 20px;
    background-color: #b062f0;
    border-radius: 20px;
    max-width: 400px;
  
    box-shadow: 0 4px 8px rgba(29, 10, 124, 0.1);
  }
  
  .homework-container h1 {
    text-align: center;
    color: #120505;
    margin-bottom: 10px;
  }

.cat-card {
    background-color: #faad5a;
    padding: 15px;
    margin: 0px 30px 0px 30px;
    border-radius: 8px;
    border: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 2px 4px rgba(98, 90, 90, 0.1);
  }
  
  .cat-card img {
    background-color: #ddd;
    max-width: 100%;
    height: auto;
    border-radius: 20px;
    margin-bottom: 15px;
    border: 1px solid #d08bd7;
  }
  
  .cat-card p {
    margin: 5px 0;
    font-size: 16px;
    color: #4a136e;
  }
  
  .cat-card p span {
    font-weight: bold;
    color: #333;
  }
  
  /* Стили для ошибки */
  .error-message {
    text-align: center;
    color: #ff6b6b;
    font-weight: bold;
    padding: 10px;
    background-color: #ffe5e5;
    border-radius: 5px;
    border: 1px solid #ff6b6b;
  }
  .cat{
    margin-top: 20px;
    margin-bottom: 3px;
    color:#120505;
  }
  